<script src="http://code.jquery.com/jquery-1.6.1.min.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="{{ url_for('static', filename='jscolor/jscolor.js') }}"></script>

<script type="text/javascript">

function sin(x){  return Math.sin(x); }
function cos(x){  return Math.cos(x); }
function tan(x){  return Math.tan(x); }
function exp(x){  return Math.exp(x); }
function sqrt(x){ return Math.sqrt(x); }
function sinh(x){ return (exp(x)-exp(-x))/2; }
function cosh(x){ return (exp(x)+exp(-x))/2; }

</script>


{% extends "layout.html" %}
{% block body %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>

        <dt>DX:
        <dd><textarea name="dx" rows=5 cols=40></textarea>
        <dt>DY:
        <dd><textarea name="dy" rows=5 cols=40></textarea>
        <dd><input type=submit value=Share>
      </dl>
    </form>
  <ul class=entries>
  {% for entry in entries %}

  <script>
    $(document).ready(function(){

      $('#randomcolors{{entry.id}}').click(
        function randomcolors(e){
          e.preventDefault();
          c1 = document.getElementById("color1{{entry.id}}");
          c2 = document.getElementById("color2{{entry.id}}");
          c3 = document.getElementById("color3{{entry.id}}");
          c4 = document.getElementById("color4{{entry.id}}");
          c5 = document.getElementById("color5{{entry.id}}");
          c1.value = (Math.random()*0xFFFFFF<<0).toString(16);
          c2.value = (Math.random()*0xFFFFFF<<0).toString(16);
          c3.value = (Math.random()*0xFFFFFF<<0).toString(16);
          c4.value = (Math.random()*0xFFFFFF<<0).toString(16);
          c5.value = (Math.random()*0xFFFFFF<<0).toString(16);
          c1.color.fromString(c1.value);
          c2.color.fromString(c2.value);
          c3.color.fromString(c3.value);
          c4.color.fromString(c4.value);
          c5.color.fromString(c5.value);
        });

      $('#draw{{entry.id}}').click(
        function drawclick(){
          if (animating != {{entry.id}}){
          animating = {{entry.id}};
          function draw(){

            //console.log('drawing');

            
          if (animating == {{entry.id}} ){
            setTimeout(function(){
            requestAnimationFrame(draw);
          }, 1000/60);
        var dx = new Function('x','y', 'return '+document.getElementById("dx{{entry.id}}").value);
        var dy = new Function('x','y', 'return '+document.getElementById("dy{{entry.id}}").value);
        var c=document.getElementById("canvas{{entry.id}}");
        var ctx=c.getContext("2d");
        ctx.fillStyle="#FFFFFF";
        ctx.globalAlpha=0.05;
        ctx.fillRect(0,0,600,400,1);
        ctx.globalAlpha=1.0;
        ctx.fillStyle="#000000";

        for (var k =1; k<=5; k++){
          ctx.fillStyle=document.getElementById("color"+k+"{{entry.id}}").value;
          for (var j = 0; j < 150; j++){
            var x = Math.random()*6;
            var y = Math.random()*4;

            for (var d = 0; d < 50; d++){
              x += 0.015*dx(x,y);
              y += 0.015*dy(x,y);
              ctx.fillRect(x*100,y*100,0.9,0.9);
            }
          }
        }
       }}
       draw();
      } 
      }
      );

      $('#stop{{entry.id}}').click(
          function(){
            animating = 0;
          }

        );

      

  });
  </script>
  <div align = "center">
   <canvas id = "canvas{{entry.id}}" width = "600" height = "400"></canvas>
 </div>
   <div id="content{{entry.id}}" align="center">
   <form id="input{{entry.id}}" method="post" action="/">
<label for="dx{{entry.id}}">dx=</label>
    <input id="dx{{entry.id}}" type="text" name="dx" maxlength="500" value = {{entry.dx}} size = "100">
</br>
 <label for="dy{{entry.id}}">dy=</label>
    <input id="dy{{entry.id}}" type="text" name="dy" maxlength="500" value = {{entry.dy}} size="100">
</br>
    <input class="color"  value = "{{entry.color1}}" id = "color1{{entry.id}}" name="color1">
    <input class="color"  value = "{{entry.color2}}" id = "color2{{entry.id}}" name="color2">
    <input class="color"  value = "{{entry.color3}}" id = "color3{{entry.id}}" name="color3">
    <input class="color"  value = "{{entry.color4}}" id = "color4{{entry.id}}" name="color4">
    <input class="color"  value = "{{entry.color5}}" id = "color5{{entry.id}}" name="color5">
  </br>
  <input type='submit' value="Save" id="save{{entry.id}}" name="save"/>
  <input type='button' value="Draw" id="draw{{entry.id}}" name="draw"/>
  <input type='button' id="randomcolors{{entry.id}}" value = "Random Colors"/>
  <input type='button' id="stop{{entry.id}}" value = "stop"/>
  <input type=
</form>
</div>



  <script>  
  for (var k=0;k<5;k++){
    drawLines();
  }

  function drawLines(){
        var dx = new Function('x','y', 'return '+document.getElementById("dx{{entry.id}}").value);
        var dy = new Function('x','y', 'return '+document.getElementById("dy{{entry.id}}").value);
        var c=document.getElementById("canvas{{entry.id}}");
        var ctx=c.getContext("2d");
        ctx.fillStyle="#FFFFFF";
        ctx.globalAlpha=0.05;
        ctx.fillRect(0,0,600,400,1);
        ctx.globalAlpha=1.0;
        ctx.fillStyle="#000000";

        for (var k =1; k<=5; k++){
          ctx.fillStyle=document.getElementById("color"+k+"{{entry.id}}").value;
          for (var j = 0; j < 200; j++){
            var x = Math.random()*6;
            var y = Math.random()*4;

            for (var d = 0; d < 50; d++){
              x += 0.006*dx(x,y);
              y += 0.006*dy(x,y);
              ctx.fillRect(x*100,y*100,0.8,0.8);
            }
          }
        }
      }

  </script>


  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}

  <script>

  var requestid;
  var animating = 0;


  </script>
  </ul>
{% endblock %}